img{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
}

#DivIdDealership{
    position: absolute;
    float: left;
    left:0;
    top:0;
    background: black;
    width: 100%;
    height: 100%;
}

#ImgIdDealership{
    position: absolute;
    float: left;
    left:0;
    top:0;
}

#ImgIdLogo{
    position: absolute;
    float: left;
    left:0;
    top:0;
    background: white;
    /*-webkit-animation: fadeOut 5s ease-in-out;
    -moz-animation: fadeOut 5s ease-in-out;
    -ms-animation: fadeOut 5s ease-in-out;
    -o-animation: fadeOut 5s ease-in-out;
    animation: fadeOut 5s ease-in-out;*/
}

#DivIdLogo{
    position: absolute;
    float: left;
    left:0;
    top:0;
    background: white;
    width: 100%;
    height: 100%;
    /*-webkit-animation: fadeOut 5s ease-in-out;
    -moz-animation: fadeOut 5s ease-in-out;
    -ms-animation: fadeOut 5s ease-in-out;
    -o-animation: fadeOut 5s ease-in-out;
    animation: fadeOut 5s ease-in-out;*/
}

@-webkit-keyframes fadeOut {
    0%   { opacity: 1;}
    100% { opacity: 0;}
}

@-moz-keyframes fadeOut {
    0%   { opacity: 1;}
    100% { opacity: 0;}
}

@-ms-keyframes fadeOut {
    0%   { opacity: 1;}
    100% { opacity: 0;}
}

@-o-keyframes fadeOut {
    0%   { opacity: 1;}
    100% { opacity: 0;}
}

@keyframes fadeOut {
    0%   { opacity: 1;}
    100% { opacity: 0;}
}

