#DivIdSubMenuInformationHolder{
    position: absolute;
    float: left;
    left:20px;
    padding: 0 0 0 15px;
    top: -42px;
    height: 45px;
    width: 100%;
}

#DivIdSubMenuInformationHolder2{
    position: absolute;
    float: left;
    left:20px;
    padding: 0 0 0 25px;
    top: -38px;
    height: 45px;
    width: 100%;
}