#DivIdSubMenuVideoHolder{
    position: absolute;
    float: left;
    padding: 0;
    top: -43px;
    left: -43px;
    height: 45px;
    width: 130px;
}

#DivIdSubMenuVideoHolder2{
    position: absolute;
    float: left;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    top: -39px;
    left: -43px;
    height: 45px;
    width: 130px;
}