/*@font-face {
    font-family: 'chunk-webfont';
    src: url('../../includes/fonts/chunk-webfont.eot');
    src: url('../../includes/fonts/chunk-webfont.eot?#iefix') format('eot'),
        url('../../includes/fonts/chunk-webfont.woff') format('woff'),
        url('../../includes/fonts/chunk-webfont.ttf') format('truetype'),
        url('../../includes/fonts/chunk-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}*/


@font-face {
    font-family: "FontIcon";
    src: url("../../../../../../Fonts/BlueLionIcons.otf");
    src: url("../../../../../../Fonts/BlueLionIcons.woff") format('woff');
    /*src: url("../../../../../../Fonts/BlueLionIcons.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontFuturisticI";
    src: url("../../../../../../Fonts/FuturisticFontI.otf");
    src: url("../../../../../../Fonts/FuturisticFontI.woff") format('woff');
    /*src: url("../../../../../../Fonts/FuturisticFontI.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FontFuturisticII";
    src: url("../../../../../../Fonts/FuturisticFontII.otf");
    src: url("../../../../../../Fonts/FuturisticFontII.woff") format('woff');
    /*src: url("../../../../../../Fonts/FuturisticFontII.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "CarDealershipsI";
    src: url("../../../../../../Fonts/CarDealershipsI.otf");
    src: url("../../../../../../Fonts/CarDealershipsI.woff") format('woff');
    /*src: url("../../../../../../Fonts/CarDealershipsI.ttf")  format(‘truetype’);*/
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
}

#basicScroll {
    /* Typical fixed height and fixed width example */
    height: 100%;
    width: 100%;
    overflow: auto;
    /* IE overflow fix, position must be relative or absolute*/
    position: relative;
}

.flexcroll {
    height: 100%;
}

.scrollgeneric {
    line-height: 1px;
    font-size: 1px;
    position: absolute;
    top: 0;
    left: 0;
}

.vscrollerbar {
    width: 10px;
}
.hscrollerbar {
    height: 10px;
}

.vscrollerbase {
    width: 12px;
}
.hscrollerbase {
    height: 12px;
}

.hscrollerbar, .vscrollerbar {
    vertical-align: middle;
    horizontal-align: middle;
    margin: 1px;
    background-color: grey;
    /*-moz-border-radius: <?php echo $scrollerbar_radius;?>px;
    border-radius: <?php echo $scrollerbar_radius;?>px;*/
}

.hscrollerbase, .vscrollerbase, .hscrollerbase:hover, .vscrollerbase:hover, .hscrollerbase:active, .vscrollerbase:active {
    background-color: black;
}

.hscrollerbar:active, .vscrollerbar:active,.hscrollerbar:hover, .vscrollerbar:hover {
    background-color: white;
}

.hscrollerbase:hover, .vscrollerbase:hover {
    opacity: 0.5;
}

input{
    border: none;
    outline: none;
    text-decoration: none;
}


input[type='range'] {
    -webkit-appearance: none;
    background-color: grey;
    border: 1px white;
    opacity: 0.7;
    height: 10px;
    vertical-align: middle;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']:hover {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-track {
    -moz-appearance: none;
    background-color: grey;
    border: 1px white;
    opacity: 0.5;
    height: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-track:hover {
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: white;
    border: 1px grey;
    height: 20px;
    width: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-webkit-slider-thumb:hover {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    background-color: white;
    border: 1px grey;
    height: 20px;
    width: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

input[type='range']::-moz-range-thumb:hover {
    -moz-appearance: none;
    background-color: white;
    border: 1px grey;
    height: 20px;
    width: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

button, button:active, button:after, button:before {
    background: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

#DivIdRedCircle{
    background: red;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    opacity: 0.7;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#DivIdRedCircle:hover{
    opacity: 1;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#DivIdText{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontFuturisticI";
    padding: 5px;
    font-size: 20px;
}

#DivIdText:hover{
    font-family: "FontFuturisticII";
    /*-webkit-animation: fontFuturisticPulse 1.0s linear;
    -moz-animation: fontFuturisticPulse 1.0s linear;
    -ms-animation: fontFuturisticPulse 1.0s linear;
    -o-animation: fontFuturisticPulse 1.0s linear;
    animation: fontFuturisticPulse 1.0s linear;*/
}

#DivIdIcon{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "FontIcon";
    padding: 5px;
    font-size: 40px;
}

#DivIdCarDealershipI{
    font-smooth:always;
    font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    font-family: "CarDealershipsI";
    padding: 5px;
    font-size: 40px;
}

#DivIdGlass{
    position: relative;
    width: 100%;
    height: 100%;
    /*border: 1px solid;
    opacity: 0.5;*/
    border-color: rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px rgba(0, 0, 0, 0.3);
}

#DivIdPulse:hover, ul li:hover #DivIdNeon #DivIdMenuItem #DivIdPulse{
    -webkit-animation: pulse 1.5s linear infinite;
    -moz-animation: pulse 1.5s linear infinite;
    -ms-animation: pulse 1.5s linear infinite;
    -o-animation: pulse 1.5s linear infinite;
    animation: pulse 1.5s linear infinite;
}

#DivIdShake:hover, ul li:hover #DivIdNeon #DivIdMenuItem #DivIdShake{
    -webkit-animation: shake 0.7s linear infinite;
    -moz-animation: shake 0.7s linear infinite;
    -ms-animation: shake 0.7s linear infinite;
    -o-animation: shake 0.7s linear infinite;
    animation: shake 0.7s linear infinite;
}

#DivIdSpin:hover, ul li:hover #DivIdNeon #DivIdMenuItem #DivIdSpin{
    -webkit-animation: spin 2.5s linear infinite;
    -moz-animation: spin 2.5s linear infinite;
    -ms-animation: spin 2.5s linear infinite;
    -o-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

#DivIdNeon{
    color: white;
    text-shadow: -1px 0 2px grey, 0 1px 2px grey, 1px 0 2px grey, 0 -1px 2px grey;
    opacity: 0.9;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdNeon:hover, ul li:hover #DivIdNeon #DivIdMenuItem{
    color: deepskyblue;
    text-shadow: -1px 0 1px lightblue, 0 1px 1px lightblue, 1px 0 1px lightblue, 0 -1px 1px lightblue;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

ul{
    width: 100%;
    height: 100%;
    position: relative;
}

ul li{
    float: left;
    display: block;
    position: relative;
}

ul ul{
    display: none;
    opacity:0;
    position: absolute;
    width: 160px;
    height: auto;
}

ul li:hover ul{
    opacity:1;
    display: block;
    position: absolute;
}

ul li ul li {
    width: 130px;
}

@-o-keyframes pulse {
    0% {
        -o-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -o-transform: scale(1);
        opacity: 1;
    }
    100% {
        -o-transform: scale(0.9);
        opacity: 0.7;
    }
}

@-ms-keyframes pulse {
    0% {
        -ms-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -ms-transform: scale(1);
        opacity: 1;
    }
    100% {
        -ms-transform: scale(0.9);
        opacity: 0.7;
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -moz-transform: scale(1);
        opacity: 1;
    }
    100% {
        -moz-transform: scale(0.9);
        opacity: 0.7;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.9);
        opacity: 0.7;
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.7;
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        opacity: 0.7;
    }
}

@-o-keyframes spin { 100% { -o-transform: rotate(360deg); } }

@-ms-keyframes spin { 100% { -ms-transform: rotate(360deg); } }

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


@-o-keyframes shake {
    0% { -o-transform: rotate(0deg); }
    10% { -o-transform: rotate(-10deg); }
    20% { -o-transform: rotate(5deg); }
    30% { -o-transform: rotate(-5deg); }
    40% { -o-transform: rotate(5deg); }
    60% { -o-transform: rotate(-5deg); }
    70% { -o-transform: rotate(5deg); }
    80% { -o-transform: rotate(-5deg); }
    90% { -o-transform: rotate(10deg); }
    100% { -o-transform: rotate(0deg); }
}

@-ms-keyframes shake {
    0% { -ms-transform: rotate(0deg); }
    10% { -ms-transform: rotate(-10deg); }
    20% { -ms-transform: rotate(5deg); }
    30% { -ms-transform: rotate(-5deg); }
    40% { -ms-transform: rotate(5deg); }
    60% { -ms-transform: rotate(-5deg); }
    70% { -ms-transform: rotate(5deg); }
    80% { -ms-transform: rotate(-5deg); }
    90% { -ms-transform: rotate(10deg); }
    100% { -ms-transform: rotate(0deg); }
}

@-moz-keyframes shake {
    0% { -moz-transform: rotate(0deg); }
    10% { -moz-transform: rotate(-10deg); }
    20% { -moz-transform: rotate(5deg); }
    30% { -moz-transform: rotate(-5deg); }
    40% { -moz-transform: rotate(5deg); }
    60% { -moz-transform: rotate(-5deg); }
    70% { -moz-transform: rotate(5deg); }
    80% { -moz-transform: rotate(-5deg); }
    90% { -moz-transform: rotate(10deg); }
    100% { -moz-transform: rotate(0deg); }
}

@-webkit-keyframes shake {
    0% { -webkit-transform: rotate(0deg); }
    10% { -webkit-transform: rotate(-10deg); }
    20% { -webkit-transform: rotate(5deg); }
    30% { -webkit-transform: rotate(-5deg); }
    40% { -webkit-transform: rotate(5deg); }
    60% { -webkit-transform: rotate(-5deg); }
    70% { -webkit-transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); }
    90% { -webkit-transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); }
}

@keyframes shake {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    10% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
    20% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    30% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    40% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    60% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    70% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
    80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
    90% { -webkit-transform: rotate(10deg); transform: rotate(10deg); }
    100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
}

/*
@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@-moz-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@-ms-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@-o-keyframes neon {
    from {
        text-shadow: 0 0 1px white,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px white,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 1px lightgrey,
        0 0 2px lightgrey,
        0 0 3px lightgrey,
        0 0 4px lightgrey,
        0 0 5px lightgrey,
        0 0 6px lightgrey,
        0 0 7px lightgrey,
        0 0 8px lightgrey,
        0 0 9px lightgrey,
        0 0 10px grey;
    }
    to {
        text-shadow: 0 0 2px lightgrey,
        0 0 4px  lightgrey,
        0 0 6px  lightgrey,
        0 0 8px  lightgrey,
        0 0 10px  lightgrey,
        0 0 12px  lightgrey,
        0 0 14px  lightgrey,
        0 0 16px  lightgrey,
        0 0 18px  lightgrey,
        0 0 20px  grey;
    }
}*/

@-o-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-ms-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-moz-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@-webkit-keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}

@keyframes fontFuturisticPulse {
    0% {  font-family: "FontFuturisticII"; }
    10% { font-family: "FontFuturisticI"; }
    20% { font-family: "FontFuturisticII"; }
    30% { font-family: "FontFuturisticI"; }
    40% { font-family: "FontFuturisticII"; }
    60% { font-family: "FontFuturisticI"; }
    70% { font-family: "FontFuturisticII"; }
    80% { font-family: "FontFuturisticI"; }
    90% { font-family: "FontFuturisticII"; }
    100% {font-family: "FontFuturisticI"; }
}