*{
    margin: 0%;
    padding: 0%;
}

main{
    float: left;
    width: 100%;
    height: 100%;
    top: 100%;
}

table{
    width: 100%;
    height: 100%;
}

img{
    width: 110%;
    height: auto;
    top: 0;
}

tr{
    height: 0%;
}

#TDColummLeft{
    width: 10% ;
    height: auto;
}

#TDColummRigth{
    width: 90% ;
    height: auto;
}


#DivIdentificationBodyHolder {
    background: white;
    opacity: 0.1;
    z-index: -1;
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
}

#DivIdentificationLogoCar{
    float: right;
    position: relative;
    top: 105px;
    right:0px;
}