*{
    margin: 0%;
    padding: 0%;
}

main{
    float: left;
    width: 100%;
    height: 100%;
    top: 100%;
}

table{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}

img{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
}

#DivIdentificationTableRow{
    width: 100%;
}

#DivIdentificationBodyHolder {
    background: white;
    opacity: 0.1;
    z-index: -1;
    float: left;
    width: 100%;
    height: 100%;
    position: fixed;
}

#TdIdentificationColummLeft{
    width: 25%;
    height: 100%;
    background: red;
}

#ImgIdentificationCar{
    float: left;
    left:0;
    top:0;
}

#TdIdentificationColummRight{
}

#DivIdentificationLogoCar{
    z-index: 100;
    position: relative;
    float: left;
    bottom: -70%;
    right: 50px;
    background: blue;
    color: red;
    width: 0px;
    height: 0px;
}