*{
    margin: 0;
    padding: 0;
}

#DivIdScopo{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
}

#DivIdScopo p{
    font-family: "Arial", cursive;
    font-size: 12px;
    color: #a9a9a9;
}

#DivInformation{
    position: relative;
    width: 100%;
    height: 12%;
    padding-left: 0.4%;
}

form{
    width: 100%;
    height: 88%;
    position: relative;
    padding-left: 0.4%;
    background: #999999;
}

fieldset{
    border: 0;
}

fieldset legend{
    text-emphasis-style: circle;
}

ol{
    margin-top: 1%;
}
ol li{
    display: block;
    padding-left: 0.1%;
    margin-bottom: 0.7%;
}

.InputCheckboxClass{
    width: 1%;
}

ol li label{
    position: relative;
    display: inline-block;
    width: 10%;
    text-align: right;
}

.InputRadioClass{
    width: 1%;
}

.LabelClassGender{
    width: 1%;
}

input{
    width: 15%;
    padding: .5%;
    color: #333;
    text-transform: uppercase;

}

select{
    padding: .5%;
}

ul li{
    display: block;
}

