#DivIdPopUpBox{
    display: none;
    position: fixed;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 45px;
    width:auto;
    height:auto;
    z-index: -1;
}

#DivIdPopUp{
    padding: 20px;
}

#DivIdPopUpHeader{
    top:0;
    height: 45px;
    width: 100%;
}

#DivIdPopUpClose{
    float: right;
}

#DivIdPopUpOK{
    margin-left: 45px;
    margin-right: 45px;
    float: right;
}

#DivIdPopUpCancel{
    margin-left: 45px;
    margin-right: 45px;
    float: right;
}

#DivIdPopUpFooter{
    bottom:0;
    height: 45px;
    width: 100%;
}

#DivIdPopUpBody{
    top: 45px;
    bottom: 45px;
    background: blue;
    width: 100%;
}