#DivIdPopUpBox{
    display: none;
    position: fixed;
    bottom:0;
    top:0;
    left:0;
    right:0;
    margin: 45px;
    width:auto;
    height:auto;
    z-index: -1;
}

#DivIdPopUp{
    padding: 20px;
}

#DivIdPopUpHeader{
    height: 45px;
    width: 100%;
}

#DivIdPopUpClose{
    float: right;
}