@font-face {
    font-family: "FontHeader";
    src: url("../../Fonts/CarPart.otf");
    src: url("../../Fonts/CarPart.woff");
}

*{
    margin: 0px;
    padding: 0px;
}

#DivIdText{
    cursor: pointer;
    font-family: "Arial", cursive;
    font-size:16px;
}

#DivIdIcon{
    cursor: pointer;
    font-family: "FontHeader", cursive;
    padding: 8px;
    font-size:16px;
}

#DivIdGlass{
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid;
    opacity: 0.5;
    border-color: white;
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 5px rgba(0, 0, 0, 0.4);
}

#DivIdNeon{
    text-shadow: 0 0 1px #3A9DFC;
    color: dodgerblue;
    webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdNeon:hover{
    webkit-animation: neon 1s ease-in-out infinite alternate;
    -moz-animation: neon 1s ease-in-out infinite alternate;
    -ms-animation: neon 1s ease-in-out infinite alternate;
    -o-animation: neon 1s ease-in-out infinite alternate;
    animation: neon 1s ease-in-out infinite alternate;
    color:white;
    text-shadow: 0 0 2px #9CCEFF,
    0 0 4px  #9CCEFF,
    0 0 6px  #9CCEFF,
    0 0 8px  dodgerblue,
    0 0 10px  dodgerblue,
    0 0 12px  dodgerblue,
    0 0 14px  dodgerblue,
    0 0 16px  dodgerblue,
    0 0 18px  dodgerblue,
    0 0 20px  dodgerblue;
    webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

ul{
    width: 100%;
    height: 100%;
    position: relative;
}

ul li{
    float: left;
    display: block;
    position: relative;
}

ul ul{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
}

ul li:hover ul{
    display: block;
    position: absolute;
}

ul li:hover ul li {
    width: 130px;
}

@-webkit-keyframes neon {
    from {
        text-shadow: 0 0 1px #9CCEFF,
        0 0 2px #9CCEFF,
        0 0 3px #9CCEFF,
        0 0 4px dodgerblue,
        0 0 5px dodgerblue,
        0 0 6px dodgerblue,
        0 0 7px dodgerblue,
        0 0 8px dodgerblue,
        0 0 9px dodgerblue,
        0 0 10px dodgerblue;
    }
    to {
        text-shadow: 0 0 2px #9CCEFF,
        0 0 4px  #9CCEFF,
        0 0 6px  #9CCEFF,
        0 0 8px  dodgerblue,
        0 0 10px  dodgerblue,
        0 0 12px  dodgerblue,
        0 0 14px  dodgerblue,
        0 0 16px  dodgerblue,
        0 0 18px  dodgerblue,
        0 0 20px  dodgerblue;
    }
}

@-moz-keyframes neon {
    from {
        text-shadow: 0 0 1px #9CCEFF,
        0 0 2px #9CCEFF,
        0 0 3px #9CCEFF,
        0 0 4px dodgerblue,
        0 0 5px dodgerblue,
        0 0 6px dodgerblue,
        0 0 7px dodgerblue,
        0 0 8px dodgerblue,
        0 0 9px dodgerblue,
        0 0 10px dodgerblue;
    }
    to {
        text-shadow: 0 0 2px #9CCEFF,
        0 0 4px  #9CCEFF,
        0 0 6px  #9CCEFF,
        0 0 8px  dodgerblue,
        0 0 10px  dodgerblue,
        0 0 12px  dodgerblue,
        0 0 14px  dodgerblue,
        0 0 16px  dodgerblue,
        0 0 18px  dodgerblue,
        0 0 20px  dodgerblue;
    }
}

@-ms-keyframes neon {
    from {
        text-shadow: 0 0 1px #9CCEFF,
        0 0 2px #9CCEFF,
        0 0 3px #9CCEFF,
        0 0 4px dodgerblue,
        0 0 5px dodgerblue,
        0 0 6px dodgerblue,
        0 0 7px dodgerblue,
        0 0 8px dodgerblue,
        0 0 9px dodgerblue,
        0 0 10px dodgerblue;
    }
    to {
        text-shadow: 0 0 2px #9CCEFF,
        0 0 4px  #9CCEFF,
        0 0 6px  #9CCEFF,
        0 0 8px  dodgerblue,
        0 0 10px  dodgerblue,
        0 0 12px  dodgerblue,
        0 0 14px  dodgerblue,
        0 0 16px  dodgerblue,
        0 0 18px  dodgerblue,
        0 0 20px  dodgerblue;
    }
}

@-o-keyframes neon {
    from {
        text-shadow: 0 0 1px #9CCEFF,
        0 0 2px #9CCEFF,
        0 0 3px #9CCEFF,
        0 0 4px dodgerblue,
        0 0 5px dodgerblue,
        0 0 6px dodgerblue,
        0 0 7px dodgerblue,
        0 0 8px dodgerblue,
        0 0 9px dodgerblue,
        0 0 10px dodgerblue;
    }
    to {
        text-shadow: 0 0 2px #9CCEFF,
        0 0 4px  #9CCEFF,
        0 0 6px  #9CCEFF,
        0 0 8px  dodgerblue,
        0 0 10px  dodgerblue,
        0 0 12px  dodgerblue,
        0 0 14px  dodgerblue,
        0 0 16px  dodgerblue,
        0 0 18px  dodgerblue,
        0 0 20px  dodgerblue;
    }
}

@keyframes neon {
    from {
        text-shadow: 0 0 1px #9CCEFF,
        0 0 2px #9CCEFF,
        0 0 3px #9CCEFF,
        0 0 4px dodgerblue,
        0 0 5px dodgerblue,
        0 0 6px dodgerblue,
        0 0 7px dodgerblue,
        0 0 8px dodgerblue,
        0 0 9px dodgerblue,
        0 0 10px dodgerblue;
    }
    to {
        text-shadow: 0 0 2px #9CCEFF,
        0 0 4px  #9CCEFF,
        0 0 6px  #9CCEFF,
        0 0 8px  dodgerblue,
        0 0 10px  dodgerblue,
        0 0 12px  dodgerblue,
        0 0 14px  dodgerblue,
        0 0 16px  dodgerblue,
        0 0 18px  dodgerblue,
        0 0 20px  dodgerblue;
    }
}