#DivIdSubMenuSettingsHolder{
    position: absolute;
    float: left;
    padding: 5px 0 0 0;
    right: 12px;
    height: 95px;
    width: 125%;
}

#DivIdSubMenuSettingsHolder2{
    position: absolute;
    float: left;
    padding: 15px 0 0 0;
    right: 2px;
    height: 95px;
    width: 125%;
}