img{
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
}

#ImgIdDealership{
    position: absolute;
    float: left;
    left:0;
    top:0;
    
    -webkit-animation: fade 200s ease-in-out;
    -moz-animation: fade 200s ease-in-out;
    -ms-animation: fade 200s ease-in-out;
    -o-animation: fade 200s ease-in-out;
    animation: fade 200s ease-in-out;
}

@-webkit-keyframes fade {
    0%   { opacity: 1;}
    2%   { opacity: 0;}
    98%   { opacity: 0;}
    100% { opacity: 1;}
}

@-moz-keyframes fade {
    0%   { opacity: 1;}
    2%   { opacity: 0;}
    98%   { opacity: 0;}
    100% { opacity: 1;}
}

@-ms-keyframes fade {
    0%   { opacity: 1;}
    2%   { opacity: 0;}
    98%   { opacity: 0;}
    100% { opacity: 1;}
}

@-o-keyframes fade {
    0%   { opacity: 1;}
    2%   { opacity: 0;}
    98%   { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fade {
    0%   { opacity: 1;}
    2%   { opacity: 0;}
    98%   { opacity: 0;}
    100% { opacity: 1;}
}

