#DivIdSubMenuApplicationsHolder{
    position: absolute;
    float: left;
    padding: 5px 0 0 0;
    right: 53px;
    height: 45px;
    width: 125%;
}

#DivIdSubMenuApplicationsHolder2{
    position: absolute;
    float: left;
    padding: 15px 0 0 0;
    right: 43px;
    height: 45px;
    width: 125%;
}