#DivIdentificationSubMenuUserHolder{
    position: absolute;
    float: left;
    left: -145px;
    height: 105px;
    width: 125%;
}

#DivIdentificationSubMenuUserHolder2{
    position: absolute;
    float: left;
    left: -140px;
    height: 105px;
    width: 125%;
}