#DivIdentificationSubMenuUserHolder{
    position: absolute;
    float: left;
    left: -8.49em;
    top: -0.1em;
    height: 6em;
    width: 125%;
}

#DivIdentificationSubMenuUserHolder2{
    position: absolute;
    float: left;
    left: -8.19em;
    top: -0.1em;
    height: 6em;
    width: 125%;
}