#DivIdentificationSubMenuSettingsHolder{
    position: absolute;
    float: left;
    left: -55px;
    height: 105px;
    width: 125%;
}

#DivIdentificationSubMenuSettingsHolder2{
    position: absolute;
    float: left;
    left: -50px;
    height: 105px;
    width: 125%;
}