#DivIdentificationSubMenuApplicationsHolder{
    position: absolute;
    float: left;
    top: -0.1em;
    left: -5.84em;
    height: 30px;
    width: 125%;
}

#DivIdentificationSubMenuApplicationsHolder2{
    position: absolute;
    float: left;
    top: -0.1em;
    left: -5.54em;
    height: 30px;
    width: 125%;
}