#DivIdSubMenuUserHolder{
    position: absolute;
    float: left;
    padding: 5px 0 0 0;
    right: 100px;
    height: 125px;
    width: 125%;
}

#DivIdSubMenuUserHolder2{
    position: absolute;
    float: left;
    padding: 15px 0 0 0;
    right: 90px;
    height: 125px;
    width: 125%;
}