#DivIdMenuVideo{
    visibility: visible;
    display: block;
    width: 130px;
    position: absolute;
    padding: 3px 0 0 0;
    right:0;
    bottom:0;
    float: left;
    height: 100%;
}

#DivIdMenuVideoWrap{
    margin-top: 1px;
    margin-left: 11px;
}

#DivIdMenuVideo ul ul{
    opacity:0;
    visibility: visible;
    display: block;
    position: absolute;
    height: auto;
    left: -1px;
    bottom:-200px;
    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdMenuVideo ul li:hover ul{
    opacity:1;
    visibility: visible;
    display: block;
    position: absolute;
    bottom:47px;
    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
