#DivIdMenuInformationHolder{
    visibility: visible;
    float: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45px;
    height: 100%;
    
    -webkit-animation: goRight 1s ease-in-out;
    -moz-animation: goRight 1s ease-in-out;
    -ms-animation: goRight 1s ease-in-out;
    -o-animation: goRight 1s ease-in-out;
    animation: goRight 1s ease-in-out;
}
