*{
    margin: 0%;
    padding: 0%;
}

main{
    background: #86b612;
    float: left;
    width: 100%;
    height: 100%;
    top: 100%;
    margin-top: 3%;
}

table{
    background-color: gray;
}

table td, tr{
    width: 100%;
}