*{
    margin: 0%;
    padding: 0%;
}

main{
    background: #86b612;
    float: left;
    width: 100%;
    height: 100%;
    top: 100%;
    margin-top: 10%;
}
table td, tr{
    width: 100%;
    height: 90%;

}