#DivIdentificationSubMenuSearchHolder{
    position: absolute;
    float: left;
    top: -0.1em;
    left: 0em;
    height: 6em;
    width: 100%;
}

#DivIdentificationSubMenuSearchHolder2{
    position: absolute;
    left: 0.3em;
    top: -0.1em;
    float: left;
    height: 6em;
    width: 100%;
}