/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/04/2014, 16:03:15
    Author     : Tarciso Torres
*/

@font-face{
    font-family: 'FonteMenu';
    src: url("../fonts/CarPart.woff");
}
*{
    margin: 0px;
    padding: 0px;
}

.menu{
    list-style-type: none;
    margin: 10px 10px 0px 10px;
    border:transparent;
    float: right;
}

.menu li{
    position: relative;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    height: 28px;
    line-height: 28px;
}


.menu li a{
    font-family: FonteMenu;
    font-size: 18px;
    color: #736df5;
    text-decoration: none;
}

.menu li a:hover{
   background: #cbd9d5;
}

.menu li ul{
    position: absolute;
    top: 28px;
    left: -20px;
    display: none;
}

.menu li:hover ul, .menu li ul li:hover, .menu li.over ul, .menu li ul li.over ul{
    display: block;
    
}

.menu li ul li{
    font-family: Arial sans-serif;
    border: transparent;
    display: block;
    width: 150px;
    height: 25px;
    line-height: 25px;
}