@font-face {
    font-family: "FontHeader";
    src: url("../../../Fonts/CarPart.otf");
    src: url("../../../Fonts/CarPart.woff");
}

*{
    margin: 0px;
    padding: 0px;

}

nav{
    position: fixed;
    top: 0%;
    width: 100%;
    height: 40px;
    font-family: "FontHeader", cursive;
}

nav #BoxMenuSearchHolder {
    background-color: yellow;
    position: absolute;
    left:0%;
    float: left;

    width: 3%;
    height: 0%;
}


nav ul{
    width: 100%;
    height: 100%;
    position: relative;
}

nav ul li:hover ul{
    display: block;
    position: absolute;
    top: 100%;
}

nav ul li:hover ul li {
    border: 12px;
    width: 130px;
}

nav ul li:hover{
    color: blue;
}


nav #BoxMenuOptionsHolder {
    width:10%;
    background-color: green;
    opacity: 0.5;
    position: absolute;
    right:0%;
    float: left;
    height: 100%;
}

nav #DivIdentificationMenuOptions{
    width:10%;
    position: absolute;
    right:0%;
    float: left;
    height: 100%;
}



nav ul li{
    float: left;
    font-family: "FontHeader", cursive;
    display: block;
    position: relative;
}

nav  ul li ul li{
    font-family: "Arial", cursive;
}

nav ul li:hover{
    text-decoration-color: #aa1c34;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav  ul ul{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
    background: transparent;
}

nav  ul li:hover ul{
    display: block;
    position: absolute;
    top: 100%;
}

nav  ul li:hover ul li {
    border: none;
    width: 130px;
}

nav  ul li:hover{
    color: #99941b;
}

nav #DivIdentificatonMenuSearch{
    position: absolute;
    width: 3%;
    height: 100%;
    float: left;
}

nav #DivIdentificatonMenuSearch a:hover{
    background: red;
    width: 12%;
    height: 300%;
}

nav #BoxMenuOptionsHolder {
    width:10%;
    background-color: green;
    opacity: 0.5;
    position: absolute;
    right:0%;
    float: left;
    height: 100%;
}

nav #DivIdentificationMenuOptions{
    width:10%;
    position: absolute;
    right:0%;
    float: left;
    height: 100%;
}

nav #DivIdentificationMenuOptions ul{
    width: 100%;
    height: 100%;
    position: relative;
}

nav #DivIdentificationMenuOptions ul li{
    float: left;
    display: block;
    position: relative;
}

nav #DivIdentificationMenuOptions ul li a{
    float: left;
    font-family: "fontheader", cursive;
    color: #0555b7;
    text-decoration: none;
    text-transform: uppercase;
}

nav #DivIdentificationMenuOptions ul li ul li a{
    font-family: "Tahoma", cursive;
}

nav #DivIdentificationMenuOptions ul li:hover{
    text-decoration-color: #aa1c34;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav #DivIdentificationMenuOptions ul ul{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
}

nav #DivIdentificationMenuOptions ul li:hover ul{
    display: block;
    position: absolute;
    top: 100%;
}

nav #DivIdentificationMenuOptions ul li:hover ul li a{
    border: none;
    width: 130px;
}

nav #DivIdentificationMenuOptions a:hover{
    color: #99941b;
}

table{
    background-color: gray;
}

main, td, tr{
    width: 100%;
}

