@font-face {
    font-family: "FontHeader";
    src: url("../../../Fonts/CarPart.otf");
    src: url("../../../Fonts/CarPart.woff");
}

*{
    margin: 0px;
    padding: 0px;
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    font-family: "FontHeader", cursive;
}

nav #DivIdentificationBoxMenuSearchHolder {
    background: yellow;
    position: absolute;
    left:0;
    float: left;
    width: 3%;
    height: 100%;
    opacity: 0.5;
}

nav #DivIdentificationBoxMenuOptionsHolder {
    width:10%;
    background: green;
    opacity: 0.5;
    position: absolute;
    right:0;
    float: left;
    height: 100%;
}

nav #DivIdentificatonMenuSearch{
    position: absolute;
    width: 3%;
    height: 100%;
    float: left;
}

nav #DivIdentificationMenuOptions{
    width:10%;
    position: absolute;
    right:0;
    float: left;
    height: 100%;
}


nav ul{
    width: 100%;
    height: 100%;
    position: relative;
}

nav ul li:hover ul{
    color: blue;
    display: block;
    position: absolute;
    top: 100%;
}

nav ul li:hover ul li {
    border: 12px;
    width: 130px;
}


nav ul li{
    float: left;
    font-family: "FontHeader", cursive;
    display: block;
    position: relative;
}

nav  ul li ul li{
    font-family: "Times New Roman", cursive;
}

nav ul li:hover{
    color: darkred;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav  ul ul{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
}

nav  ul li:hover ul{
    display: block;
    position: absolute;
    top: 100%;
}

nav  ul li:hover ul li {
    border: none;
    width: 130px;
}










