#DivIdMenuSearch{
    visibility: visible;
    display: block;
    position: absolute;
    width: 45px;
    height: 100%;
    float: left;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdMenuSearch:hover{
    width: 160px;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdMenuSearch ul ul{
    opacity:0;
    visibility: visible;
    display: block;
    position: absolute;
    height: 0px;
    top:40px;


    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdMenuSearch ul li:hover ul{
    opacity:1;
    visibility: visible;
    display: block;
    position: absolute;
    height: 100%;
    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
