#DivIdMenuOptions{
    visibility: visible;
    display: block;
    width: 180px;
    position: absolute;
    right:-5px;
    float: left;
    height: 100%;
}

#DivIdMenuOptions ul ul{
    opacity:0;
    visibility: visible;
    display: block;
    position: absolute;
    height: auto;
    top:-200px;
    
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdMenuOptions ul li:hover ul{
    opacity:1;
    visibility: visible;
    display: block;
    position: absolute;
    top:40px;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}