#DivIdMenuSearchHolder{
    visibility: visible;
    display: block;
    position: absolute;
    left:0;
    float: left;
    width: 45px;
    height: 100%;
}

#DivIdMenuSearchHolder{
    visibility: visible;
    display: block;
    position: absolute;
    left:0;
    float: left;
    width: 160px;
    height: 100%;
}

