#DivIdMenuSearchHolder{
    background: red;

    visibility: visible;
    display: block;
    position: absolute;
    left:0;
    float: left;
    width: 45px;
    height: 100%;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#DivIdMenuSearchHolder:hover{
    width: 160px;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

