*{
    margin: 0;
    padding: 0;
}

#DivIdScopo{
    position: absolute;
    background: green;
    float: left;
    width: 100%;
    height: 100%;
}

#DivIdScopo p{
    font-family: "Arial", cursive;
    font-size: 12px;
    color: #a9a9a9;
}

#DivInformation{
    position: relative;
    background: dodgerblue;
    width: 100%;
    height: 12%;
    padding-left: 0.4%;
}

#DivIdBasicSingUp{
    background: red;
    width: 100%;
    height: 88%;
    position: relative;
    padding-left: 0.4%;
}

ol{
    margin-top: 1%;
}
ol li{
    display: block;
    padding-left: 0.1%;
    margin-bottom: 0.7%;
}

fieldset{
    border: 0;
}

#DivIdBasicSingUp ol li label{
    position: relative;
    display: inline-block;
    width: 10%;
    background: #ffff00;
    text-align: right;
}

#DivIdBasicSingUp input{
    width: 15%;
    padding: .5%;
    color: #333;

}
ul li{

    display: block;
}

