@font-face {
    font-family: "FontHeader";
    src: url("View/Fonts/CarPart.otf");
    src: url("View/Fonts/CarPart.woff");
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    font-family: "fontheader";
}