*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #0099FF;
}

nav{
    width: 600px;
    height: 60px;
    background: #ffffcc center;
    margin: 0 auto;
}

nav ul{
    width: 535px;
    height: 60px;
    margin: 0 auto;
    position: relative;
}

nav ul li{
    float: left;
    display: block;
    position: relative;
}

nav ul li a{
    float: left;
    font-family: "Tahoma", arial;
    color: #87b715;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 20px 17px;
    border-right: 1px solid #dddddd;
}

nav ul li a:hover{
    background: #AA0000;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}


nav ul ul{
    display: none;
    position: absolute;
    width: 160px;
    height: auto;
    background: #FFF;
    border-right: 4px solid #89B718;
}

nav ul li:hover ul{
    display: block;
    position: absolute;
    top: 58px;
}

nav ul li:hover ul li a{
    border: none;
    width: 126px;
    border-bottom: 1px solid #ddd;

}
